h1 {
  padding: 0px 10px;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.conferences {
  margin: 0 0 2em 0;
  padding: 0;
  width: 25em;
}
.conferences li {
  list-style: circle;
  cursor: pointer;
  position: relative;
  left: 10px;
  background-color: #EEE;
  margin: .8em;
  padding: .3em 0;
  height: 1.8em;
  border-radius: 4px;
  align-content: center;
  font-size: 19px;
  letter-spacing: 1px;
}
.conferences li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.conferences li:hover {
  color: #607D8B;
  background-color: #DDD;
}
.conferences .text {
  position: relative;
  top: -3px;
  text-align: center;
}
.conferences .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
