<div class="container">
  <h1>Register Participant</h1>
  <p>Please fill in this form to create an account.</p>
  <hr>

  <label><b>Username</b></label>
  <input type="text" #username placeholder="Enter Username">

  <label><b>Password</b></label>
  <input type="password" #password placeholder="Enter Password">

  <label><b>First Name</b></label>
  <input type="text" #firstName placeholder="Enter First Name">

  <label><b>Last Name</b></label>
  <input type="text" #lastName placeholder="Enter Last Name">

  <label><b>Age</b></label>
  <input type="text" #age placeholder="Enter Age">
  <hr>

  <button (click)="showDiv = !showDiv">Continue Registration As Author</button>
  <button (click)="saveListener(username.value, password.value, firstName.value, lastName.value, age.value)">Register Here As Listener</button>

  <div *ngIf="showDiv">
    <br><label><b>Position</b></label>
    <input type="text" #position placeholder="Enter Position">
    <button (click)="saveAuthor(username.value, password.value, firstName.value, lastName.value, age.value, position.value)">Submit</button>
  </div>
</div>
<div class="container signin">
  <p>Already have an account? <a href="/login">Sign in</a>.</p>
</div>
