button {
  background-color: #4CAF50;
  color: white;
  padding: 16px 30px;
  margin: 8px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  border-radius: 4px;
}

button:hover {
  opacity:1;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 select {
   width: 180px;
 }
