<app-list-conference></app-list-conference>
<hr>
<select [(ngModel)]="selectedConference">
  <option>Select a Conference</option>
  <option *ngFor="let m of conferences" [ngValue]="m">{{m.name}} - {{m.amount}}$</option>
</select>
<button (click)="saveFee()">Payment</button>
