<div class="container">
  <h1>Log In</h1>
  <hr>

  <label><b>Username</b></label>
  <input type="text" #username placeholder="Enter Username">

  <label><b>Password</b></label>
  <input type="password" #password placeholder="Enter Password">

  <hr>

  <button (click)="tryLogin(username.value, password.value)">Log In</button>

  <div *ngIf="loginError">
    <p class="error">Invalid username/password!</p>
  </div>

  <div *ngIf="emtpyFields">
    <p class="error">Both username and/or password are required!</p>
  </div>

</div>
<div class="container signin">
  <p>Don't have an account? <a href="/signup">Sign Up</a>.</p>
</div>
