<div class="container">
  <h1>Register Conference</h1>
  <p>Please fill in this form to create a new conference.</p>
  <hr>

  <label><b>Name</b></label>
  <input type="text" #name placeholder="Enter Name"><br>

  <label><b>Topic</b></label>
  <input type="text" #topic placeholder="Enter Topic"><br>

  <label><b>Description</b>:</label>
  <input type="text" #description placeholder="Enter Description"><br>

  <label><b>Location</b></label>
  <input type="text" #location placeholder="Enter Location"><br>

  <label><b>Start Date</b></label>
  <input type="text" #startDate placeholder="Enter Start Date"><br>

  <label><b>End Date</b></label>
  <input type="text" #endDate placeholder="Enter End Date"><br>

  <label><b>Amount</b></label>
  <input type="text"#amount placeholder="Enter Amount"><br><br>

  <label><b>Abstract Deadline</b></label>
  <input type="text" #abstractDeadline placeholder="Enter Abstract Deadline"><br>

  <label><b>Paper Deadline</b></label>
  <input type="text" #paperDeadline placeholder="Enter Paper Deadline"><br>
</div>

<div>
  <button (click)="goBack()">Back</button>
  <button (click)="save(name.value, topic.value, description.value, location.value, startDate.value, endDate.value, amount.value, abstractDeadline.value, paperDeadline.value)">Save
  </button>
</div>

