<div *ngIf="!conference">Nothing here</div>

<div *ngIf="conference" class="container">
  <h2>{{conference.name}}</h2>
  <hr>

  <div class="details">
    <b>Topic:</b> {{conference.topic}} <br>
    <b>Description:</b> {{conference.description}} <br>
    <b>Location:</b> {{conference.location}} <br>
    <b>Start Date:</b> {{conference.startDate | date}} <br>
    <b>End Date:</b> {{conference.endDate | date}} <br>
    <b>Amount:</b> {{conference.amount}}$ <br>
    <b>Abstract Deadline:</b> {{conference.abstractDeadline | date}} <br>
    <b>Paper Deadline:</b> {{conference.paperDeadline | date}} <br>
  </div>
  <hr>

  <h3>Sections</h3>
  <ol class="sections">
    <li *ngFor="let s of conference.sections">
      <b>Name:</b> {{s.name}} <br>
      <b>Section Chair:</b> {{s.sectionChair.firstName }} {{s.sectionChair.lastName}} (age: {{s.sectionChair.age}}) <br><br>
    </li>
  </ol>
  <hr>
  <button (click)="showDiv = !showDiv">New Section</button>
</div>

<div *ngIf="showDiv" class="container">
  <label><b>Section Name</b></label>
  <input type="text" #name placeholder="Enter Name">

  <h3>Section Chair</h3>

  <label><b>First Name</b></label>
  <input type="text" #firstName placeholder="Enter First Name">

  <label><b>Last Name</b></label>
  <input type="text" #lastName placeholder="Enter Last Name">

  <label><b>Age</b></label>
  <input type="text" #age placeholder="Enter Age">

  <button (click)="saveSection(name.value, firstName.value, lastName.value, age.value)">Save</button>
</div>
