/*button:hover {*/
/*color: #607D8B;*/
/*background-color: #DDD;*/
/*border-radius: 4px;*/
/*}*/

/*button {*/
/*cursor: pointer;*/
/*background-color: #EEE;*/
/*border-radius: 4px;*/
/*}*/

.details {
  background: #f1f1f1;
  font-family: "Times New Roman";
  font-size: large;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.container {
  padding: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 16px 30px;
  margin: 8px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  border-radius: 4px;
}

button:hover {
  opacity:1;
}
